{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class=" col-md-6">
        <div class="card-body content-section">
            <h5 class="card-title my-0 mx-3">First name</h5>
            <p class="card-text mt-0 mx-3 text-justify" style="color: #3f3f3f;">{{ user.first_name }}</p>
            <h5 class="card-title my-0 mx-3">Last name</h5>
            <p class="card-text mt-0 mx-3 text-justify" style="color: #3f3f3f;">{{ user.last_name }}</p>
            <h5 class="card-title my-0 mx-3">Username</h5>
            <p class="card-text mt-0 mx-3 text-justify" style="color: #3f3f3f;">{{ user.user_name }}</p>
            <h5 class="card-title my-0 mx-3">Email</h5>
            <p class="card-text mt-0 mx-3 text-justify" style="color: #3f3f3f;">
                {{ user.email }}
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom pb-2 mb-4">Account</legend>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.first_name.label(class="form-control-label") }}
                                {% if form.first_name.errors %}
                                {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.first_name.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.first_name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.last_name.label(class="form-control-label") }}
                                {% if form.last_name.errors %}
                                {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.last_name.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.last_name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.new_password.label(class="form-control-label") }}
                                {% if form.new_password.errors %}
                                {{ form.new_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.new_password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.new_password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.confirm_new_password.label(class="form-control-label") }}
                                {% if form.confirm_new_password.errors %}
                                {{ form.confirm_new_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_new_password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.confirm_new_password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.update(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}