{% extends "layout.html" %}

{% block content %}
<h1>Dashboard</h1>
{% for url in url_list %}
<div class="card my-4">
    <div class="card-body">
        <h5 class="card-title my-0 mx-3">Orginal URL</h5>
        <p class="card-text mt-0 mx-3 text-justify" style="color: #3f3f3f;">{{ url.original_url }}</p>
        <h5 class="card-title my-0 mx-3">Shortened URL</h5>
        <p class="card-text mt-0 mx-3 text-justify" style="color: #3f3f3f;">{{ url.shortened_url }}</p>
        <h5 class="card-title my-0 mx-3">Click Count</h5>
        <p class="card-text mt-0 mx-3 text-justify" style="color: #3f3f3f;">{{ url.counter }}</p>
        <h5 class="card-title my-0 mx-3">Date Defined</h5>
        <p class="card-text mt-0 mx-3 text-justify" style="color: #3f3f3f;">{{ url.date_defined.strftime('%m/%d/%Y') }}
        </p>

        <form method="POST" action={{url_for('share', url_id=url.id)}}>
            {{ form.hidden_tag() }}
            <div class="col-md-6 mt-4">
                <div class="form-group">
                    {{ form.user_name.label(class="form-control-label") }}
                    {% if form.user_name.errors %}
                    {{ form.user_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.user_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.user_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.share(class="btn btn-outline-info") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endfor %}
{% endblock content %}