{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is a simple website made using HTML, CSS, Bootstrap, Flask, and MongoDB to shorten URLs and
        access data and statistics of the URLs that you have shortened.</p>
    <hr class="my-4">
    <p>Short It was made using Python libraries such as Flask, Flask-WTForms, Flask-Bcrypt, Flask-Login, and
        Flask-MongoEngine.It offers a fresh set of analytics for yout shortened URL which is often a deal breaker for
        marketing!</p>
    <p class="lead">
        Visit the online repo to access the code.<br>
        <a class="btn btn-primary btn-lg my-3" href="https://github.com/chumba-wamba/Short-It" role="button">Github!</a>
    </p>
</div>
{% endblock content %}